<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command></command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.crittercism__dsym.CrittercismDsymRecorder plugin="crittercism-dsym@1.2-SNAPSHOT">
      <apiKey>rypd3cbgzexnvf7rj5jiez60lomshhfm</apiKey>
      <appID>5298d55797c8f23e07000001</appID>
      <filePath>build/FPM-dSYM.zip</filePath>
    </org.jenkinsci.plugins.crittercism__dsym.CrittercismDsymRecorder>
  </publishers>
  <buildWrappers/>
</project>